* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "GOT";
  src: url("/font/font.ttf");
}
.slide_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slides {
  transition: 0.5s;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.slides:nth-child(1) .slide .left img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.left,
.right {
  opacity: 0;
  transition: 2s ease-out;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  width: 45vw;
  height: 100vh;
  overflow: hidden;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  width: 10vw;
  color: white;
  font-family: GOT;
  height: 100vh;
}
.middle p {
  transition: 3s ease-out;
  opacity: 0;
}
.slide img {
  /* top: -50%; */
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.video {
  width: 100vw;
}
.middle p {
  margin-top: 10px;
}
.left_gradient {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-90deg, black, transparent);
}
.right_gradient {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, black, transparent);
}
.intro {
  width: 100vw;
}

.video_wrapper::before {
  position: absolute;
  display: flex;
  content: ".";
  z-index: 1111;
  background-color: rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 10%;
}
.data {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 70%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 50px;
  color: black;
  border-top-right-radius: 100%;
}
.data p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 20px 50px;
  padding-right: 0;
}
.triangle {
  width: 250px;
  border-top-right-radius: 100%;
  /* height: 50px; */
  background-color: rgb(255, 255, 255);
}
/* .black {
  width: 30vw;
  height: min(5vw, 5vh);
  background-color: rebeccapurple;
  z-index: 111;
  position: absolute;
  right: inherit;
  right: 0;
  bottom: 0;
} */
.sound {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 10000;
}
.sound img {
  cursor: pointer;
}
.sound img:nth-child(1) {
  left: 0;
  position: absolute;
  width: 60px;
}
.sound img:nth-child(2) {
  display: none;
  position: absolute;
  width: 51px;
  margin-left: auto;
}
.sound:hover {
  opacity: 1 !important;
}
.back {
  z-index: 1000;
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 25px;
  top: 20px;
}
.bar_wrapper {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.back .bar {
  width: 0px;
  height: 0px;
  left: 0;
  transition: 0.2s;
  /* background-color: red; */
  top: 50%;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  transform: rotate(-45deg);
}
.back p {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 5px;
  top: 0;
  font-family: myFirstFont;
  font-size: 20px;
}
.back:hover .bar {
  width: 20px;
  height: 20px;
}
.back .bar_1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-1px);
  width: 100px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.container_wrapper {
  opacity: 0.3;
  z-index: 1111;
  position: absolute;
  bottom: 20px;
  right: 50px;
  transform: translateX(-50%);
}
.container_wrapper p {
  color: white;
  opacity: 0.3;
  font-size: 10px;
  transform: translateY(+40px) translateX(10px);
  letter-spacing: 5px;
  font-family: GOT;
}
.container {
  transform: rotate(-90deg);
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
